{% extends 'index.html' %}
{% load meus_filtros %}

{% block title %} Cadastro de clientes {% endblock title %}

{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Cadastro de Clientes</h3>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        {{form_cliente.nome.errors}}
        <label for="Nome">Nome: </label>
        {{form_cliente.nome|addclass:'form-control'}}
      </div>
      <div class="form-group">
        {{form_cliente.cpf_cnpj.errors}}
        <label for="cpf_cnpj">CPF / CNPJ: </label>
        {{form_cliente.cpf_cnpj|addclass:'form-control'}}
      </div>
      <div class="form-group">
        {{form_cliente.telefone.errors}}
        <label for="cpf_cnpj">Telefone: </label>
        {{form_cliente.telefone|addclass:'form-control'}}
      </div>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
{% endblock content %}