{% extends 'index.html' %}


{% block title%}
Listagem de Clientes
{% endblock title %}



{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Listagem de Clientes</h3>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nome:</th>
          <th>CPF / CNPJ:</th>
          <th>Telefone:</th>
          <th style="width: 40px">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <td>{{cliente.nome}}</td>
          <td>{{cliente.cpf_cnpj}}</td>
          <td>{{cliente.telefone}}</td>
          <td>
            <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
        <a href="{% url 'cadastrar_cliente' %}">
            <button class="btn btn-primary">Novo Cliente</button>
        </a>
  </div>
</div>

{% endblock content %}