{% extends 'index.html' %}
{% load meus_filtros %}
{% load bootstrap4 %}

{% block title %} Cadastro de Acomodações {% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Cadastro de Acomodações</h3>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="card-body">
        <div class="row" placeholder=".col-12">
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.unidade.errors}}
              <label for="unidade">Unidade: </label>
              {{form_acomodacao.unidade|addclass:'form-control'}}
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.tipo.errors}}
              <label for="tipo">Tipo: </label>
              {{form_acomodacao.tipo|addclass:'form-control'}}
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.andar.errors}}
              <label for="andar">Andar: </label>
              {{form_acomodacao.andar|addclass:'form-control'}}
            </div>
          </div>
        </div>
        <div class="row" placeholder=".col-12">
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.ramal.errors}}
              <label for="ramal">Ramal: </label>
              {{form_acomodacao.ramal|addclass:'form-control'}}
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.capacidade.errors}}
              <label for="capacidade">Capacidade: </label>
              {{form_acomodacao.capacidade|addclass:'form-control'}}
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.valor.errors}}
              <label for="valor">Valor: </label>
              {{form_acomodacao.valor|addclass:'form-control'}}
            </div>
          </div>
        </div>
        <div class="row" placeholder=".col-12">
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.status.errors}}
              <label for="status">Status: </label>
              {{form_acomodacao.status|addclass:'form-control'}}
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              {{form_acomodacao.situacao.errors}}
              <label for="situacao">Situação: </label>
              {{form_acomodacao.situacao|addclass:'form-control'}}
            </div>
          </div>      
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}