{% extends 'index.html' %}
{% block title%} Listagem de Acomodações {% endblock title %}

{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Listagem de Acomodações</h3>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 40px">Unidade:</th>
          <th>Tipo:</th>
          <th>Andar:</th>
          <th>Ramal:</th>
          <th>Capacidade:</th>
          <th>Valor:</th>
          <th style="width: 110px">Status:</th>
          <th style="width: 50px">Situação:</th>
          <th style="width: 20px">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for acomodacao in acomodacoes %}
        <tr>
          <td>{{acomodacao.unidade}}</td>
          <td>{{acomodacao.tipo}}</td>
          <td>{{acomodacao.andar}}</td>
          <td>{{acomodacao.ramal}}</td>
          <td>{{acomodacao.capacidade}}</td>
          <td>{{acomodacao.valor}}</td>
          <td>
          {% if acomodacao.status == 'Livre' %}
            <span style="width: 110px" class="badge bg-success">{{acomodacao.status}}</span>
          {% elif acomodacao.status == 'Reservado' %}
            <span style="width: 110px" class="badge bg-warning">{{acomodacao.status}}</span>
          {% elif acomodacao.status == 'Ocupado' %}
            <span style="width: 110px" class="badge bg-danger">{{acomodacao.status}}</span>
          {% elif acomodacao.status == 'Em manutenção' %}
            <span style="width: 110px" class="badge bg-info">{{acomodacao.status}}</span>
          {% endif %}
          </td>
          <td>
          {% if acomodacao.situacao == 'Ativo' %}
            <span style="width: 110px" class="badge bg-primary">{{acomodacao.situacao}}</span>
          {% elif acomodacao.situacao == 'Inativo' %}
            <span style="width: 110px" class="badge bg-secondary">{{acomodacao.situacao}}</span>
          {% endif %}
          </td>
          <td>
            <a href="{% url 'editar_acomodacao' acomodacao.id %}"><i class="fas fa-pencil-alt fa-pull-right"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <a href="{% url 'cadastrar_acomodacao' %}">
      <button class="btn btn-primary">Nova Acomodação</button>
    </a>
  </div>
</div>

{% endblock content %}
