<!DOCTYPE html>
{% extends 'adminlte/base.html' %}
<html lang="pt-br" style="height: auto;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <main class="container">{% block content %} {% endblock content %}</main>

    {% block javascript %} {{block.super}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script>
      var options = {
        onKeyPress: function (cpf, ev, el, op) {
          var masks = ["000.000.000-000", "00.000.000/0000-00"];
          $("#id_cpf_cnpj").mask(cpf.length > 14 ? masks[1] : masks[0], op);
        },
      };

      $("#id_cpf_cnpj").length > 11
        ? $("#id_cpf_cnpj").mask("00.000.000/0000-00", options)
        : $("#id_cpf_cnpj").mask("000.000.000-00#", options);

      $("#id_telefone").mask("(00) 0000-00009");
      $("#id_valor").mask('#.##0,00', {reverse: true});
    </script>

    {% endblock javascript %}
  </body>
</html>
